{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Style/forum.css' %}">
<div id="my-data" data-forum-url="{% url 'bookforum:show_forum_json' %}" 
    data-popular-forum-url="{% url 'bookforum:show_forum_popular_only' %}" 
    data-buku="{% url 'bookforum:show_books_json' %}"
    database-url="{% url 'bookforum:show_forumcomments' id_head=9999 %}"
    create-question = "{% url 'bookforum:create_question' %}">
</div>
{% include "navbarloggedin.html" %}
<h2 style="margin: 30px 30px 5px 30px; text-align: center;">Forum Buku</h2>
<div class="d-flex justify-content-center set-margin">
    <a>    
        <button type="button" class="btn btn-primary btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #273faa;">
            Buat Forum Baru
        </button>
    </a>    
</div>

<div class="form-check form-switch form-check-reverse" style="margin: 40px 40px 0px 0px;">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
    <label class="form-check-label" for="flexSwitchCheckReverse" style="font-size: 12px;">Tampilkan hanya diskusi buku dengan rating >4.5</label>
</div>

<table class="row" id="forum_container" style="margin: 0px 40px 40px 40px;"></table>

<!-- Modal untuk melakukan input -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ayo mulai diskusi!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Tentukan Topik:</label>
                        <input type="text" class="form-control" id="title" name="title"></input>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Pilih Buku:</label>
                        <input type="hidden" id="book_id" name="book_id">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" id="dropdown-buku" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Pilih buku
                            </button>
                            <ul class="dropdown-menu">
                                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                                    <div class="list-group">
                                    </div>
                                </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="question" class="col-form-label">Silakan masukkan pertanyaan Anda:</label>
                        <textarea class="form-control" id="question" name="question"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Tambahkan Forum</button>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
<script src="{% static 'Script/forum.js' %}"></script>
{% endblock content %}
