{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Style/forumcomments.css' %}">

{% include "navbarloggedin.html" %}

<div class="container" style="margin-top: 40px;">
    <a href="{% url 'bookforum:show_forum' %}">
        <button type="button" class="btn btn-outline-primary btn-sm" style="margin-bottom: 10px;">←</button>
    </a>
    <div class="row">
        <div class="col-12 col-md-4 forum-question overflow-control-card">
            <h1>Forum Question</h1>
            <div class="forum-question-details">
                <p class="wrap"><strong>Title:</strong> {{ question.title }}</p>
                <p><strong>Date:</strong> {{ question.date }}</p>
                <p><strong>Sender:</strong> {{ question.user }}</p>
            </div>
            <div class="forum-question-body">
                <p class="wrap"><strong>Question:</strong> 
                    {{ question.question }}</p>
                        
            </div>
        </div>
        <div class="col-12 col-md-8 cards">
            <div class="card h-100">
                <div class="card-body ">
                    <h5 class="card-title">{{ question.book.title }}</h5>
                    <p class="card-text line-spaced"></p>
                    <p class="card-text line-spaced"><strong>Author:</strong> {{ question.book.author }}</p>
                    <p class="card-text line-spaced"></p><strong> Rating:</strong> {{ question.book.rating }} </p>
                    <p class="card-text line-spaced"><strong> Voters:</strong> {{ question.book.voters }} </p>
                    <p class="card-text line-spaced"><strong>Price:</strong> {{ question.book.price }} {{question.book.currency}} </p>
                    <p class="card-text line-spaced"><strong>Publisher:</strong> {{ question.book.publisher }}</p>
                    <p class="card-text line-spaced"><strong>Page Count:</strong> {{ question.book.page_count }} </p>
                    <p class="card-text line-spaced"><strong>Genres:</strong> {{ question.book.genres }}</p>
                    <p class="card-text line-spaced"> 
                    <strong>Description:</strong>
                    <p class="card-text line-spaced" style="font-size: medium;"> {{ question.book.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row set-margin mb-3">
    <h2 style="margin:20px">Comments</h2>
    <button type="button" class="btn btn-primary btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin: 10px;">
        Tambahkan Tanggapan Anda
    </button>
</div>
<div class="comment-list" id="list-komentar">
    {% for comment in comments %}
    {% empty %}
    <li class="no-comments">No comments yet.</li>
    {% endfor %}
</div>
</div>
<div class="save-url" data-url="{% url 'bookforum:show_uniquecomments_json' question.pk %}" id="url-unique-json"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Forum lembarpena</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" data-url="{% url 'bookforum:create_comments' question.pk %}" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="answer" class="col-form-label">Silakan masukkan tanggapan Anda:</label>
                        <textarea class="form-control" id="answer" name="answer"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Tambahkan</button>
            </div>
        </div>
    </div>
</div>
{%include "footer.html" %}
<script src="{% static 'Script/forumcomments.js' %}"></script>
{% endblock content %}
