{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .scrollspy-example {
        max-height: 200px;  /* Adjust this value based on your preference */
        overflow-y: auto;
    }
    .table-row-spacing tbody tr:not(:last-child) {
    border-bottom: none;
}

.table-row-spacing tbody tr:after {
    content: "";
    display: block;
    height: 20px;  /* Adjust to your desired spacing */
}
.overflow-control{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    </style>
    
    {% include "navbarloggedin.html" %}
    <h2 style="margin: 30px 30px 30px 30px; text-align: center;"> Forum Buku</h2>
    <div class="d-flex justify-content-center set-margin">
        <a>    
            <button type="button" class="btn btn-primary btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Buat Forum Baru
            </button>
        </a>    
    </div>
<table class="row" id="forum_container" style="margin: 40px 40px 40px 40px;"></table>
<!-- Modal untuk melakukan input -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ayo mulai diskusi!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Tentukan Topik:</label>
                        <input type="text" class="form-control" id="title" name="title"></input>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Pilih Buku:</label>
                        <input type="hidden" id="book_id" name="book_id">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"  id="dropdown-buku" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Pilih buku
                                </button>
                                <ul class="dropdown-menu">
                                    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                                        <div class="list-group">
                                        </div>
                                </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="question" class="col-form-label">Silakan masukkan pertanyaan Anda:</label>
                        <textarea class="form-control" id="question" name="question"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Tambahkan Forum</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ayo mulai diskusi!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Judul:</label>
                        <input type="text" class="form-control" id="title" name="title"></input>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Pilih Buku:</label>
                        <input type="hidden" id="book_id" name="book_id">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"  id="dropdown-buku" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                Pilih buku
                                </button>
                                <ul class="dropdown-menu">
                                    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                                        <div class="list-group">
    
                                        </div>
                                </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="question" class="col-form-label">Silakan masukkan pertanyaan Anda:</label>
                        <textarea class="form-control" id="question" name="question"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Tambahkan Forum</button>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}

<script>
    let isBookClicked = false;
    $(document).ready(function() {
        $('.dropdown-menu').on('click', '.list-group-item', function() {
            // Get the content of the selected item (for demonstration, we'll get the heading)
            var selectedItem = $(this).find('h5').text();
            var selectedBookId = $(this).data('id');        
            $('#book_id').val(selectedBookId);
            console.log(selectedBookId)
            // Update the button content
            $('.dropdown-toggle').text(selectedItem);
            isBookClicked = true;
        });
    });

    async function getForum() {
        return fetch("{% url 'bookforum:show_forum_json' %}").then((res) => res.json())
    }
    async function getBook() {
        return fetch("{% url 'bookforum:show_books_json' %}").then((res) => res.json())
    }
    async function refreshForum() {
        document.getElementById("forum_container").innerHTML = "";
        const allForums = await getForum();

        let htmlString = `<table class="table table-row-spacing">
                            <tr style="height:50px;">
                            <th scope="col" style="width:400px;">Judul Topik</th>
                            <th scope="col" style="width:300px;">Buku</th>
                            <th scope="col" style="width:100px;">Penanya</th>
                            <th scope="col" style="width:100px;">Tanggal</th>
                            <th scope="col" style="width:100px;">Komentar</th>
                            <th scope="col" style="width:100px;"></th>
                            </tr>
                       <tbody class="table-group-divider">
        `;
        allForums.forEach((item) => {
            let database_url="{% url 'bookforum:show_forumcomments' id_head=9999 %}"
            const rowUrl = database_url.replace('9999', item.pk);
            htmlString += ` <tr class="mb-1 clickable-row " data-id="${item.pk}" data-url="${rowUrl}" style="height:50px;">
                                    <td class="overflow-control" style="width:400px; max-width: 385px;">${item.fields.title}</td>
                                    <td class="overflow-control" style="width:300px;max-width: 285px;">${item.fields.book}</td>
                                    <td class="overflow-control" style="width:100px;max-width: 100px;">${item.fields.user}</td>
                                    <td class="overflow-control" style="width:100px;max-width: 100px;">${item.fields.date}</td>
                                    <td class="overflow-control" style="width:100px;max-width: 100px;">${item.fields.comment_counts}</td>
                                    <td class="overflow-control" style="width:100px;max-width: 100px;"> 
                                    <button class="btn btn-primary" style="font-size:10px;height: 24px; text-align: center;" onclick="event.stopPropagation(); deleteForum('${item.fields.user}',${item.pk}); return false;">Delete</button>
                                        </td>
                            </tr>`
        });
        htmlString +=  `</tbody></table>`
        document.getElementById("forum_container").innerHTML = htmlString
        document.querySelectorAll('.clickable-row').forEach(row => {
        row.addEventListener('click', () => {
            const url = row.getAttribute('data-url');
            window.location.href = url;
            });
        });
    }

    function navigateToForum(url) {
        window.location.href = url;
    }

    refreshForum()

    async function showBooks(){
        document.getElementsByClassName("list-group")[0].innerHTML = "";
        const allBook = await getBook();
        let stringHTML="";
        allBook.forEach((item) => {
            stringHTML += `<a href="#" class="list-group-item list-group-item-action" data-id="${item.pk}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">${item.fields.title}</h5>
                                <small class="text-body-secondary">${item.fields.rating}</small>
                        </div>
                        <p class="mb-1">${item.fields.author}</p>
                        <small class="text-body-secondary">${item.fields.publisher}</small>
                        </a>    `
        });
        document.getElementsByClassName("list-group")[0].innerHTML = stringHTML;
    }
    
    showBooks()

    function addForum() {
        let formData = new FormData(document.querySelector('#form'));
        let isEmptyFieldDetected = false;
        if(isBookClicked == false){
            alert("Pastikan semua terisi, silakan ulangi");
            return false;
        }
        for (let [key, value] of formData.entries()) {
            console.log(key)
            console.log(value)
            if (value.trim() === "") {
                isEmptyFieldDetected = true;
                break;
            }
        }

        if (isEmptyFieldDetected) {
            alert("Pastikan semua terisi, silakan ulangi");
            return false;
        }

        fetch("{% url 'bookforum:create_question' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshForum)

        document.getElementById("form").reset()
        document.getElementById("dropdown-buku").innerText = "Pilih Buku"
        return false
    }

    document.getElementById("button_add").onclick = addForum

    function deleteForum(username,commentId) {
        const url = `/bookforum/delete_question/${username}/${commentId}`;
            fetch(url, {
                method: "GET",
            }).then(response => {
                if (response.status === 201) {
                    refreshForum();
                } else {
                    console.error("Failed to delete comment");
                    alert("Ini bukan pertanyaan dari akun Anda, Anda tidak bisa menghapusnya :)"); // Display an alert with an error message
                }
            })
            .catch(error => {
                console.error("Error deleting comment:", error);
                alert("Error deleting comment. Please try again later."); // Display an alert with an error message
            });
            return false
        }
</script>
{% endblock content %}
