{% extends 'base.html' %}
<head>
    {% block meta %}
        <title>Checkout</title>
    {% endblock meta %}
</head>

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'Style/checkout.css' %}">

<div id="my-data" data-checkout-url="{% url 'checkoutbook:checkout_ajax' %}"></div>

<body>
    <h1 class="text-center">Checkout</h1>
    <table class="table table-bordered" style="align-items: center; text-align: center;">
        <thead>
            <tr>
                <th>Produk</th>
                <th>Harga Satuan</th>
                <th>Jumlah</th>
                <th>Subtotal Harga</th>
            </tr>
        </thead>
        <tbody>
            {% for product in cart_items %}
            <tr>
                <td>{{product.book.title}}</td>
                <td>{{product.book.currency}} {{product.book.price}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.subtotal}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h6>Total Harga: {{ currency }} {{ total_price }}</h6></td>
            </tr>
        </tbody>
    </table>
    <form method="post" id="checkout-form" style="text-align: center;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="alamat" class="col-form-label">Alamat:</label>
            <div style="text-align: center;">
            <textarea class="form-control" id="alamat" name="alamat"  style="margin: 0 auto; width: 400px; height: 90px;"></textarea>
            </div>
        </div>
        <div class="mb-3">
            <label for="metode_pembayaran" class="col-form-label">Metode Pembayaran:</label>
            <div>
                <input type="radio" id="metode1" name="metode_pembayaran" value="Kartu Kredit">
                <label for="metode1">Kartu Kredit</label>
            </div>
            <div>
                <input type="radio" id="metode2" name="metode_pembayaran" value="Kartu Debit">
                <label for="metode2">Kartu Debit</label>
            </div>
            <div>
                <input type="radio" id="metode3" name="metode_pembayaran" value="Transfer Bank">
                <label for="metode3">Transfer Bank</label>
            </div>
            <div>
                <input type="radio" id="metode4" name="metode_pembayaran" value="E-Wallet">
                <label for="metode4">E-Wallet</label>
            </div>
        </div>
    </form>
    <div style="text-align: center;">
        <button type="button" class="btn btn-primary" id="button_checkout" style="margin-left: 20px; width: 200px;">Checkout</button>
    </div>  
    <script src="{% static 'Script/checkout.js' %}"></script>  
</body>
{% include "footer.html" %}

{% endblock content %}