{% extends 'base.html' %}
<head>
    {% block meta %}
        <title>My Order</title>
    {% endblock meta %}
</head>

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'Style/myorder.css' %}">

<div id="my-data" data-order-url="{% url 'checkoutbook:get_order_json' %}" 
    data-order-cc-url="{% url 'checkoutbook:get_order_json_cc' %}"
    data-order-dc-url="{% url 'checkoutbook:get_order_json_dc' %}"
    data-order-tf-url="{% url 'checkoutbook:get_order_json_tf' %}"
    data-order-ew-url="{% url 'checkoutbook:get_order_json_ew' %}">
</div>

{% include "navbarloggedin.html" %}
<div class="container mt-5">
    <h1 style="display: inline;">My Order</h1>
    <label style="display: inline;">Filter: </label>
    <select id="myDropdown" style="display: inline;">
        <option value="all">Semua</option>
        <option value="cc">Metode Pembayaran Kartu Kredit</option>
        <option value="dc">Metode Pembayaran Kartu Debit</option>
        <option value="tf">Metode Pembayaran Transfer Bank</option>
        <option value="ew">Metode Pembayaran E-Wallet</option>
    </select>
    
    <div class="row" id="tempatcard"></div>

</div>
{% include "footer.html" %}
<script src="{% static 'Script/myorder.js' %}"></script>
{% endblock %}