<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Your Cart</h1>

        {% for item in cart_items %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.book.title }}</h5>
                        <p class="card-text">Price: ${{ item.book.price }}</p>
                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                        <!-- Add a button to remove the item from the cart -->
                        <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove from Cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- Add a button to proceed to checkout -->
        {% if cart_items %}
        <a href="{% url 'checkout' %}" class="btn btn-success btn-lg btn-block">Proceed to Checkout</a>
        {% endif %}
    </div>
<Button href="{% url 'buybooks:show_test' %}" classs="btn btn-success btn-lg btn-block">Back</Button>
</body>
</html>

