{% extends 'base.html' %}

{% load static %}

{% block meta %}
  <title>Received Orders</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'Style/received_orders.css' %}">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/js/bootstrap.min.js"></script>
{% endblock meta %}

{% block content %}
<div id="data-urls" 
     data-mark-notification-read-url="/registerbook/mark-notification-read/"
     data-delete-notification-url="/registerbook/delete-notification/">
</div>

{% include "navbarseller.html" %}
  <div class="container">
    <div class="notificationContainer">
      <header class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
            <h1 class="mr-2">Order Notification</h1>
            <span id="num-of-notif"></span>
        </div>
        <p id="mark-as-read">Mark as All Read</p>
      </header>
      <main>
        {% for notif in notifications %}
        <div class="card mb-3 {% if not notif.is_read %}border-primary{% endif %}">
            <div class="card-body">
                <img alt="photo" src="{% static 'Gambar/profile.png' %}" class="float-left mr-3" style="width: 50px; height: 50px; border-radius: 50%;">
                <p class="card-text mb-0">Pesanan masuk dari {{ notif.buyer.username }}.</p>
                {% autoescape off %}
                {{ notif.message|linebreaks }}
                {% endautoescape %}
                <button class="btn btn-sm btn-info float-right" data-notif-id="{{ notif.id }}">Read</button>
                <button class="btn btn-sm btn-danger float-right mr-2 delete-notif-btn" data-notif-id="{{ notif.id }}">Delete</button>
            </div>
        </div>
        {% endfor %}
      </main>
    </div>
  </div>

{% include "footer.html" %}

<script src="{% static 'Script/received_orders.js' %}"></script>

{% endblock %}