{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Books</h1>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
                    <p class="card-text"><strong>Rating:</strong> {{ book.rating }}</p>
                    <p class="card-text"><strong>Voters:</strong> {{ book.voters }}</p>
                    <p class="card-text"><strong>Price:</strong> {{ book.price }} {{ book.currency }}</p>
                    <p class="card-text"><strong>Publisher:</strong> {{ book.publisher }}</p>
                    <p class="card-text"><strong>Page Count:</strong> {{ book.page_count }}</p>
                    <p class="card-text"><strong>Genres:</strong> {{ book.genres }}</p>
                     <!-- Button to show description -->
                    <button class="btn btn-link show-description-button" data-toggle="modal" data-target="#descriptionModal{{ forloop.counter }}">Show Description</button>
                    
                    <!-- Modal for Description -->
                    <div class="modal fade" id="descriptionModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="descriptionModalLabel">{{ book.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ book.description }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Add Book Form -->
    <h3 class="mt-5">Add New Book</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Book</button>
    </form>
</div>
{% endblock %}