<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
<style>   
  .footer {
      background-color: #1C2964;
      color: #fff;
      text-align: center;
      font-weight: 600;
      padding: 2rem 0;
      margin-top: 40px;
  }

  .footer__title {
      font-size: 2rem;
      margin-bottom: 2rem;
  }

  .footer__social {
      margin-bottom: 2rem;
  }

  .footer__icon {
      font-size: 1.5rem;
      color: #fff;
      margin: 0 1rem;
  }
  
  footer ul {
      list-style: none;
      padding: 0;
  }

  footer li {
    display: inline;
    margin: 0 20px;
  }

  footer a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
  }

  footer a:hover {
    color: #a6b7ef; /* Change color on hover */
  }

  .footer__copy {
      font-size: .75rem;
  }
</style>

<footer class="footer">
  <p class="footer__title">LembarPena</p>
  <div class="footer__social">
      <a href="https://github.com/PBPC09/tugaskelompok1" class="footer__icon"><i class='bx bxl-github'></i></a>
      <a href="#" class="footer__icon"><i class='bx bxl-linkedin'></i></a>
      <a href="#" class="footer__icon"><i class='bx bxl-instagram'></i></a>
  </div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Explore</a></li>
  </ul>
  <p class="footer__copy">&#169; Created by C09</p>  
  <p class="footer__copy">Last Login : {{last_login}}</p>

</footer>