{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .custom-image-height {
        height: 500px;
        width: 100vw;
        object-fit: cover;
        position: relative; 
    }
    
    .parentClass { 
        position: relative; 
        width: 80vw; 
        height: auto;
        margin-bottom: 20px; 
    } 
    
    .childClass { 
        top: 0; 
        left: 0; 
        opacity: 0.7; 
        height: 500px;
        width: 100vw;
        background: rgb(0, 0, 0); 
        position: absolute; 
        justify-content: center;
        align-items: center;
    }
    .childClass .textChild{
        text-align: center;
        font-size: 28px;
        margin-top: 20px;
        color: white;
    }
    .card-clickable {
        text-decoration: none; /* Remove underlines from links */
        color: inherit; /* Inherit text color from parent */
        cursor: pointer; /* Change cursor to a pointer when hovering over the card */
        display: block; /* Make the entire card area clickable */
    }
    .card-clickable:hover {
        /* Add any hover effects or styles here */
        background-color: #f0f0f0; /* Example: change background color on hover */
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Lembar Pena</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <a class="nav-link active" href="{% url 'main:show_landing_page_logged_in' %}" style="margin-right: 30px;">Home</a>
        <a class="nav-link active" href="{% url 'wishlist:bookprofile' %}" style="margin-right: 30px;">Wishlist</a>
        <a class="nav-link active" href="{% url 'buybooks:show_test' %}" style="margin-right: 30px;">Buy Books</a>
        <a class="nav-link active" href="{% url 'bookforum:show_forum' %}" style="margin-right: 30px;">Book Forum</a>
        <a class="btn btn-outline-success" style="margin-right: 10px;" href="{% url 'main:logout' %}">Logout</a>    
    </div>
</nav>
<div>Nikmati Buku</div>
<div>Semua dalam satu aplikasi</div>

<div class="parentClass"> 
    <img class="custom-image-height" src="{% static 'Gambar/imagecover.jpg' %}" alt="Image">
    <div class="childClass">
        <div class="textChild">
            Lembar Pena
        </div>     
    </div> 
</div> 

<div class="row">
    <div class="col-sm-6">
        <a href="#" class="card-clickable">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" href="{% url 'buybooks:show_test' %}">Beli Buku</h5>
                    <p class="card-text">Perluas cakrawala, miliki buku yang hendak Anda baca!</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="{% url 'wishlist:mywishlist' %}" class="card-clickable">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" href="{% url 'wishlist:bookprofile' %}">Simpan Keinginan</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="{% url 'wishlist:bookprofile' %}" class="card-clickable">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lihat Profil Buku</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-6">
        <a href="#" class="card-clickable">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Forum Buku</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </a>
    </div>
</div>

<div>Frequently Asked Question</div>

{% endblock content %}