{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'Style/landingpage.css' %}">
{% include "navbarlogin.html" %}

<div class="parentClass"> 
    <img class="custom-image-height" src="{% static 'Gambar/imagecover.jpg' %}" alt="Image">
    <div class="childClass">
        <div class="textChild">
            Lembar Pena
            <div class="tagline">
                <div>Nikmati Buku</div>
                <div style="opacity:1; font-style:italic;">Semua dalam satu aplikasi</div>
            </div>
        </div>  
    </div> 
</div> 

<div class="row">
    <div class="col">
        <a href="{% url 'main:login' %}" class="card-clickable">
            <div class="card fixed-card-height">
                <div class="card-content">
                    <i class="card-icon fas fa-book"></i> 
                    <h5 class="card-title">Beli Buku</h5>
                    <p class="card-text">Perluas cakrawala, miliki buku yang hendak Anda baca!</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'main:login' %}" class="card-clickable">
            <div class="card fixed-card-height">
                <div class="card-content">
                    <i class="card-icon fas fa-book"></i>
                    <h5 class="card-title">Simpan Keinginan</h5>
                    <p class="card-text">Temukan bacaan terbaik dan simpan pada koleksi Anda!</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'main:login' %}" class="card-clickable">
            <div class="card fixed-card-height">
                <div class="card-content">
                    <i class="card-icon fas fa-book"></i>
                    <h5 class="card-title">Lihat Profil Buku</h5>
                    <p class="card-text">Amati buku-buku terbaik dan bagaimana mereka siap menghibur Anda!</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="{% url 'main:login' %}" class="card-clickable">
            <div class="card fixed-card-height">
                <div class="card-content">
                    <i class="card-icon fas fa-book"></i>
                    <h5 class="card-title">Forum Buku</h5>
                    <p class="card-text">Temukan komunitas yang akan membantu Anda memahami bacaan terbaik!</p>
                </div>
            </div>
        </a>
    </div>
</div>
{% include "faq.html" %}
{% include "footer.html" %}
{% endblock content %}
