{% extends 'base.html' %}
{% load static %}
<head>
    {% block meta %}
        <title>Login</title>
        
    {% endblock meta %}
</head>

<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'Style/login.css' %}">
    <div class="container">
        <div class = "login">

            <form method="POST" action="">
                <h1>Login LembarPena</h1>
                {% csrf_token %}
                <label for="">Username</label>
                <input type="text" name="username" placeholder="Username" class="form-control">
                <label for="">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control">
                <button type="submit">Login</button>

                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %} 
                <br>
               <p>Don't have an account yet?
                <a href="{% url 'main:signup' %}">Sign up</a>
               </p>
            </form>
        </div>
        <div class="right">
            <img src="https://images2.imgbox.com/ef/d6/OhcIvLsN_o.png" alt="">
        </div>
    </div>
    {% endblock content %}
</body>