{% extends 'base.html' %}
{% load static %}
<head>
    {% block meta %}
        <title>Sign Up</title>
    {% endblock meta %}
</head>

<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'Style/signup.css' %}">

    <div class="container">
        <div class="signup">
            <form method="POST" action="">
                <h1>Sign Up LembarPena</h1>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <button class="signup-btn" type="submit">Sign Up</button>
                </div>
            </form>

            {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            {% endif %} 
            <br>
            <p>Already have an account?
                <a href="/login"> Log in</a>
            </p>
        </div>
    </div>
    {% endblock content %}
</body>
